#d{
    border: 2px solid red;
    box-shadow: 6px 6px 8px gray;
    margin: 8px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 3px 3px 5p yellow;
    font-style: italic;
    font-weight: bold;
    text-underline-position: unset;
    text-decoration-line: none;
    text-decoration-style: none;
    background-color: yellowgreen;
    
}
#d:hover{
    box-shadow: 10px 10px 10px red;
    text-decoration: none;
}

