{% extends 'app/main.html' %}

{% block content %}
<section>
	<div class="container-fluid">
		<div class="row mr-1">

			<div class="col-md-2" id="d">
				<a href="">
					<div class="img-fluid rounded-circle mb-2 mt-3">
						<img src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_a_1.jpg" width="200px" height="200px" alt="صورة القارئ">
                    </div>
						<div class="card-title text-center font-weight-bold">طاقة الاخفى</div>
						<div class="card-body">طاقية مميزة</div>
				</a>
			</div>
            <div class="col-md-2" id="d">
				<a href="">
					<div class="img-fluid rounded-circle mb-2 mt-3">
						<img src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_a_1.jpg" width="200px" height="200px" alt="صورة القارئ">
                    </div>
						<div class="card-title text-center font-weight-bold">طاقة الاخفى</div>
						<div class="card-body">طاقية مميزة</div>
				</a>
			</div>
            <div class="col-md-2" id="d">
				<a href="">
					<div class="img-fluid rounded-circle mb-2 mt-3">
						<img src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_a_1.jpg" width="200px" height="200px" alt="صورة القارئ">
                    </div>
						<div class="card-title text-center font-weight-bold">طاقة الاخفى</div>
						<div class="card-body">طاقية مميزة</div>
				</a>
			</div>
		</div>



	</div>

</section>


{% endblock content %}